<svg width="748px" height="42px" viewBox="0 0 748 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>cas van der hoven</title>
    <desc>Created with Sketch.</desc>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="EquityCapsA-Bold, Equity Caps A" font-size="76" font-weight="bold">
        <g id="Desktop" transform="translate(-60.000000, -202.000000)">
            <text id="cas-van-der-hoven">
                <tspan x="56" y="243" fill="#000000">cas </tspan>
                <tspan x="216.968" y="243" fill="#333333">van der hoven</tspan>
            </text>
        </g>
    </g>
</svg>
